.graphic {
  position: sticky;
  width: 100%;
  min-height: 100vh;
  top: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
}
.graphic > div {
  overflow: visible !important;
}
.graphic img {
  flex: 1;
  width: 100vw;
  min-height: 100vh;
  object-fit: cover;
}
.content {
  margin: -50vw auto 0;
  padding: 10vw 3rem 50vw;
  /* border: 1px solid #fff; */
}
